<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>文章管理</title>
    <link rel="stylesheet" href="../../css/element.css">
    <link rel="stylesheet" href="../../css/base.css">
    <style>
        .tox-tinymce-aux {
            z-index: 5000 !important;
        }

    </style>

</head>
<body>
<div id="wrapper" v-cloak>
    <el-container>
        <el-container>
            <!-- 主体区域 -->
            <el-main>
                <div style="color: black; font-size: 20px; margin: 10px 0">文章管理</div>
                <div style="height: 1px; background-color: white"></div>

                <el-card>
                    <el-row>
                        <el-col :span="8">
                            <el-form :model="entity" label-position="left" >
                                <el-form-item label="标题" label-width="50px">
                                    <el-input v-model="entity.title"></el-input>
                                </el-form-item>

                                <el-form-item label="分类" label-width="50px">
                                    <el-select v-model="entity.category" placeholder="请选择">
                                        <el-option
                                                v-for="item in categorys"
                                                :key="item.name"
                                                :label="item.name"
                                                :value="item.name">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="简介" label-width="50px">
                                    <el-input v-model="entity.description"  type="textarea" :rows="4"></el-input>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>

                    <textarea id="mytextarea" cols="30" rows="30"></textarea>

                    <el-button @click="save" type="primary">发表文章</el-button>
                </el-card>

            </el-main>
        </el-container>
    </el-container>
</div>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/vue.min.js"></script>
<script src="../../js/element.js"></script>
<script src="../../js/tinymce/tinymce.min.js"></script>


<script>

    let urlBase = "/api/artical/";
    new Vue({
        el: "#wrapper",
        data: {
            id: undefined,
            categorys: [],
            user: {},
            tableData: [],
            pageNum: 1,
            pageSize: 10,
            total: 0,
            dialogFormVisible: false,
            entity: {},
            isCollapse: false,
        },
        mounted() {
            this.user = sessionStorage.getItem("user") ? JSON.parse(sessionStorage.getItem("user")) : {};
            tinymce.init({
                selector: '#mytextarea',
                language: 'zh_CN',
                plugins: ['quickbars', 'link', 'table', 'image'], //选择需加载的插件
            });


             this.id = location.search ?  location.search.split("=")[1] : undefined;
             if (this.id) {
                 $.get("/api/artical/" + this.id).then(res => {
                    this.entity = res.data;
                     setTimeout(() => {
                         tinymce.editors[0].setContent(res.data.content);
                     }, 100);

                 })
             }

            $.get("/api/category").then(res => {
                this.categorys = res.data;
            })

        },
        methods: {
            successUpload(res) {
                this.entity.cover = "http://localhost:9999/files/" + res.data;
                console.log(res)
            },
            handleCollapse() {
                this.isCollapse = !this.isCollapse;
            },
            logout() {
                $.get("/api/user/logout");
                sessionStorage.removeItem("user");
                location.href = "/page/end/login.html";
            },
            save() {
                let type = this.entity.id ? "PUT" : "POST";
                this.entity.content = tinymce.activeEditor.getContent();
                if(!this.entity.title) {
                    this.$message({
                        message: '请输入文章名称',
                        type: "warning"
                    })
                    return;
                }
                if(!this.entity.category) {
                    this.$message({
                        message: '请选择文章分类',
                        type: "warning"
                    })
                    return;
                }
                if(!this.entity.content) {
                    this.$message({
                        message: '请输入文章内容',
                        type: "warning"
                    })
                    return;
                }

                $.ajax({
                    url: '/api/artical',
                    type: type,
                    contentType: "application/json",
                    data: JSON.stringify(this.entity)
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "提交成功",
                            type: "success"
                        });
                        setTimeout(() => {
                            location.href = 'artical.html';
                        }, 1000)
                    } else {
                        this.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                    this.loadTable();
                    this.dialogFormVisible = false;
                })
            }
        }
    })
</script>
</body>
</html>
